@font-face {
    font-family: "Norse";
    src: url(Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
    font-family:Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-color:#232323;
}

.header,
.footer {
    height: 50px;
    width: 100%;
    background-color: #232323;
}

.content {
    width: 1010px;
    height: 100%;
    display: flex;
    justify-content:center;
}

.left-part {
    display: flex;
    flex-direction: column;
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: 40%;
    justify-content: flex-end;
}

.left-part-top {
    flex-basis: 34%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    width: 100%;
    background-color: #00000075;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo img {
    height: 5rem;
}

.logo p {
    font-family: Norse;
    color: white;
    font-size: 5rem;
    text-wrap: nowrap;
}

a:link, 
a:visited, 
a:hover 
{color: #ffffff;}

.left-part-footer {
    flex-basis: 66%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.left-part-footer p {
    color: white;
    font-size: 10px;  
    margin-bottom: 10px; 
}

.right-part {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}

.form-top {
    flex-basis: 34%;
    display: flex;
    flex-direction: column;
}

.form-top p {
    margin-bottom: 15px;
    max-width: 450px;
}

.form-bottom {
    flex-basis: 66%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.form-header {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    flex-grow: 1;
    justify-content: flex-end;
    padding: 2rem;
}

.form-body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.form-body p {
    margin-bottom: 1.5rem;
}

.form-footer {
    background-color: #f6f6f6;
    flex-grow: 1;
    padding: 2rem;
    box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.2);
}

.form-footer button {
    margin-bottom: 1.5rem;
    color: white;
    background-color: #596d48;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius:10px;
    border: none;
    box-shadow:2px 2px 5px -3px rgba(0, 0, 0, 0.5);;
}

.form-footer a {
    color: #596d48;
    text-decoration-line: none;
}

form > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

form > div > div {
    margin-right: 20px;
}

label {
    display: block;
    font-size: 0.6em;
    text-transform: uppercase;
    margin-bottom: 2px;
}

input {
    border-radius: 5px;
    border-style: solid;
    border-color:#E5E7EB;
    border-width: 1px;
    height: 23px;
}
